<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <title>NotePy</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static 'css/font-awesome-animation.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/fonts.css' %}" type='text/css' charset='utf-8'/>
    <link rel='stylesheet' href="{% static 'css/style.css' %}"/>

</head>
<body onload="brython()" spellcheck="false">
<div class="bg" id="bg"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main">
    <a class="navbar-brand" href="/" id="brand"><i class="fas fa-sticky-note faa-shake" id="brand-icon"></i>NOTEPY</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="note-add" id="add-note" data-toggle='modal' data-target='#add-note-modal'><i
                        class="fas fa-edit faa-shake" id="add-note-icon"></i>Add A Note
                </button>
            </li>
            <li class="nav-item">
                <button class="note-color" id="color-changer"><i class="fas fa-swatchbook" id="color-changer-icon"></i>Change
                    Note Color
                </button>
            </li>
            <li class="nav-item">
                <button class="note-search" id="note-search"><i class="fas fa-search" id="note-search-icon"></i>Search
                    Notes
                </button>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="log-in" id="log-in" data-toggle="modal"
                        data-target="#log-in-modal" data-backdrop="static"><i class="fas fa-user"
                                                                              id="log-in-icon"></i></i>{{ user.email }}
                </button>
            </li>
            <li class="nav-item">
                <button class="log-out" id="log-out" data-toggle="modal"
                        data-target="#log-out-modal" data-backdrop="static"><i class="fas fa-sign-out-alt"
                                                                               id="log-out-icon"></i></i>Log Out
                </button>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="color-bar" style="display: none">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="color-button-green" value="#BFE79F" id="green-color-button"></button>
            </li>
            <li class="nav-item">
                <button class="color-button-yellow" value="#FAEB74" id="yellow-color-button"></button>
            </li>
            <li class="nav-item">
                <button class="color-button-orange" value="#FEC888" id="orange-color-button"></button>
            </li>
            <li class="nav-item">
                <button class="color-button-purple" value="#C197D1" id="purple-color-button"></button>
            </li>
            <li class="nav-item">
                <button class="color-button-pink" value="#F8A3C4" id="pink-color-button"></button>
            </li>
            <li class="nav-item">
                <button class="color-button-blue" value="#81DED8" id="blue-color-button"></button>
            </li>
            <li class="nav-item">
                <div class="active-color-label">Active Note Color:</div>
                <div class="active-color" id="active-color" style="background: #BFE79F; border-color: #A7CA8B"></div>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="search-bar" style="display: none">
    <div class="collapse navbar-collapse">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" onkeydown="return (event.keyCode!=13);" placeholder="Enter keywords"
                   aria-label="Search" id="search-params">
            <a class="search-button" id="search-button">Search</a>
            <a class="end-search-button" id="end-search-button" style="display: none">End
                Search
            </a>
            <div class="results" style="display: none" id="results"></div>
        </form>
    </div>
</nav>
<div id="note-frame">
    <div class="progress" style="background: transparent;" id="note-progress-holder">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"
             id="note-progress"></div>
    </div>
</div>
<div class="modal" id="log-out-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log Out
                </h5>
                <div type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"
                     id="log-out-close">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 0; padding-bottom: 2rem">
                <div style="text-align: center; padding-bottom: 1rem">
                    <small id="titleCaption">Are you sure you want to log out?</small>
                </div>
                <div class="row">
                    <div class="col-sm-6" id="firstname" style="text-align: center">
                        <button type="button" class="yes-button" id="log-out-yes-button">Yes</button>
                    </div>
                    <div class="col-sm-6" id="lastname" style="text-align: center">
                        <button type="button" class="no-button" id="log-out-no-button" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="log-out-toast" class="toast"></div>
</div>

<script src="{% static 'py/log_out.py' %}" type="text/python"></script>
<script src="{% static 'py/note.py' %}" type="text/python"></script>
<script src="{% static 'py/style.py' %}" type="text/python"></script>
<script src='https://kit.fontawesome.com/2026b88aeb.js' crossorigin='anonymous'></script>
<script src='https://code.jquery.com/jquery-3.5.0.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js'></script>
<script type="text/javascript"
        src="{% static 'js/brython.js' %}">
</script>
<script type="text/javascript"
        src="{% static 'js/brython_stdlib.js' %}">
</script>

</body>
</html>